CONVEX_DEPLOYMENT=dev:example
VITE_CONVEX_URL=https://example.convex.cloud
VITE_CONVEX_SITE_URL=https://example.convex.site
VITE_SITE_URL=http://localhost:3000

GOOGLE_GENERATIVE_AI_API_KEY=***
ANTHROPIC_API_KEY=***

BETTER_AUTH_SECRET=***

GITHUB_CLIENT_ID=***
GITHUB_CLIENT_SECRET=***

GOOGLE_CLIENT_ID=***
GOOGLE_CLIENT_SECRET=***
